.anaconda/ 
.android/ 
.arduinoIDE/ 
.cargo/ 
.conda/ 
.cursor-sandbox/ 
.dotnet/ 
.gradle/ 
.ipython/ 
.jupyter/ 
.matplotlib/ 
.nuget/ 
.packettracer/ 
.redhat/ 
.rustup/ 
.skiko/ 
.sts4/ 
.viminf/ 
AppData/ 
Contacts/ 
"Cisco Packet Tracer 8.2.2/" 
Android/ 
